.App {
  text-align: center;
}

.Logo{
  margin-top: 20px;
  margin-bottom: 20px;
}

.Canvas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 500px;
  
}


